*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  overflow-y: auto;
  background-image: url('./assets/bg1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moveable-control-box .moveable-line {
  background: #4af;
}

.moveable-control {
  background: #4af;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.moveable-rotation-control {
  background: #4af;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@media screen and (max-width:768px) {
    body{
      background-image: url('./assets/mbg1.png');
    }
}